<footer class="footer">
  <div class="logo-white">
    <img src="assets/logo_white.png" alt="logo footer" />
  </div>
  <nav class="menu-footer">
    <a routerLink="hebergements" routerLinkActive="active">Hébergements</a>
    <a routerLink="hote" routerLinkActive="active">Devenir hôte</a>
    <a routerLink="a-propos" routerLinkActive="active">A propos</a>
    <a routerLink="inscription" routerLinkActive="active">Contact </a>
  </nav>
  <nav class="menu-footer">
    <a routerLink="" routerLinkActive="active"
      >Conditions générales d'utilisation</a
    >
    <a routerLink="" routerLinkActive="active">Mentions légales</a>
  </nav>
  <div class="credit"><p>&copy; 2022 - Atypik House</p></div>
</footer>
