.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #155B1D;
    height: 200px;
    padding: 30px;
}



.menu-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    a {
        margin-top: 20px;
        color: #FFF;
        text-decoration: none;

        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.credit {
    margin-top: 20px;
    text-align: center;
    color: #FFF;
    width: 100%;
}