<footer class="footer">
  <div class="logo-white">
    <img src="assets/logo_white.png" alt="logo footer" />
  </div>
  <nav class="menu-footer">
    <a routerLink="hebergements" routerLinkActive="active">Hébergements</a>
    <a routerLink="hote" routerLinkActive="active">Devenir hôte</a>
    <a routerLink="contact" routerLinkActive="active">A propos</a>
    <a routerLink="inscription" routerLinkActive="active">Contact </a>
  </nav>
  <nav class="menu-footer">
    <a routerLink="" routerLinkActive="active">Hébergements</a>
    <a routerLink="hote" routerLinkActive="active">Devenir hôte</a>
    <a routerLink="contact" routerLinkActive="active">A propos</a>
  </nav>
</footer>
