<header class="header">
  <div class="logo">
    <a routerLink=""><img src="assets/logo.png" alt="logo" /></a>
  </div>
  <nav class="menu">
    <a routerLink="hebergements" routerLinkActive="active">Hébergements</a>
    <a routerLink="hote" routerLinkActive="active">Devenir hôte</a>
    <a routerLink="contact" routerLinkActive="active">Contact</a>
    <a routerLink="inscription" routerLinkActive="active">S'inscrire </a>
    |
    <a routerLink="connexion" routerLinkActive="active">Se connecter</a>
  </nav>
</header>
